table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #F5F5F5;
    color: black;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    overflow-x: auto;
    max-width: 100%;
}

.numeric-cell {
    text-align: right;
}

.add-btn {
    background-color: #4FB3E8;
    /* Light blue color */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.add-btn:hover {
    background-color: #3d90bd;
}