.grn-btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 6px 7px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
    font-size: 10px;
}

.grn-btn:hover {
    background-color: rgb(100, 43, 100);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}